{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block page_content %}

    <h2>You are logged in. Welcome to the dashboard!</h2>
{% endblock %}
